/* font files */
@font-face {
    font-family: Cabinet Grotesk-Regular;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Cabinet Grotesk-Medium;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Cabinet Grotesk-SemiBold;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Cabinet Grotesk-Bold;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Monaspace Neon;
    src: url(fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf);
    font-weight: 200;
}

@font-face {
    font-family: Chomsky;
    src: url(fonts/Chomsky.otf);
}

:root {
    /* color styles */
    --light-color: white;
    --dark-color: black;
    --accent-color: #DAFF48;
    --gray-color: #F0EFEE;

    /* font styles */
    --main-font: Monaspace Neon;
    --heading-font: Cabinet Grotesk-SemiBold;
    --blockquote-font: Cabinet Grotesk-Medium;
    --navbar-font-size: 3.5rem;

    --special-background-character_font-family: Chomsky;
    --special-background-character_font-size: 75rem;

    /* h1 styles */
    --h1-font-size: 4rem;
    --h1-line-height: 100%;

    /* h2 styles */
    --h2-font-size: 2rem;

    /* paragraph styles */
    --p-font-size: 1rem;
    --p-line-height: 140%;
    --p-margin-top: 1.5rem;
    --p-margin-bottom: 1.5rem;

    /* blockquote styles */
    --blockquote-font-size: 2rem;

    /* other styles */
    --border-style: black 1px solid;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent-color);
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    line-height: var(--h1-line-height);
}

h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--dark-color);
    font-size: var(--h2-font-size);
}

p {
    font-family: var(--main-font);
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
    margin: auto;
    margin-bottom: var(--p-margin-bottom);
    width: 90vw;
}

em {
    font-style: italic;
}

blockquote {
    font-family: var(--blockquote-font);
    font-size: var(--blockquote-font-size);
    margin: auto;
    width: 90vw;
}

/* Semantic DOM styles */
nav {
    color: var(--dark-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--navbar-font-size);

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    width: 100vw;
}

nav > ul > li {
    border: var(--border-style);

    padding: auto;
    width: 100%;
    height: 10vh;
    background-color: var(--light-color);
}

nav > ul > li > a > span:first-of-type {
    writing-mode: horizontal-tb;
    transform: rotate(-180deg);
}

nav > ul > li > a > span:nth-of-type(2) {
    display: none;
}

main {
    background-color: var(--light-color);
    color: var(--dark-color);
    
    border: var(--border-style);
}

/* class styles */
.landing-page_container {
    height: 100vh;
    width: 100vw;
}

.special-background-character {
    font-family: var(--special-background-character_font-family);
    font-size: var(--special-background-character_font-size);

    position: fixed;
    top: -40rem;
    z-index: -1;
    color: transparent;
    opacity: 25%;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

@media (min-width: 1280px) {
    :root {
        --h1-font-size: 7rem;
        --p-font-size: 1.25rem;
        --p-margin-top: 3rem;
        --p-margin-bottom: 3rem;

        --navbar-font-size: 6rem;
        --special-background-character_font-size: 75rem;

        /* other styles */
        --border-style: black 1.5px solid;
    }

    p {
        margin: auto;
        margin-top: var(--p-margin-top);
        margin-bottom: var(--p-margin-bottom);
        width: 40vw;
    }

    blockquote {
        width: 40vw;
        margin: auto;
    }

    /* Semantic DOM styles */
    nav {
        position: sticky;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    nav > ul > li {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        height: 100vh;
    }

    nav > ul > li > a > span:nth-of-type(2) {
        display: inline;
    }

    main {
        padding-top: 10rem;
    }

    /* class styles */
    .landing-page_container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 2rem;
        height: 100vh;
    }

    .landing-page_container > header {
        margin: 5%;
    }    

    .header_author {
        font-size: 1.5rem;
        text-transform: uppercase;

        margin: -5%;

        position: inline-block;
        border: white 1.5px solid;
        border-radius: 10rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header_subtext {
        background: var(--gray-color);
        color: var(--dark-color);

        padding: 3rem;
        margin-left: -5%;
        margin-right: -5%;

        position: relative;
        top: 15rem;
        left: 5rem;
        border: var(--border-style);
    }
}