/* font files */
@font-face {
    font-family: Cabinet Grotesk-Regular;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Cabinet Grotesk-Medium;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Cabinet Grotesk-SemiBold;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Cabinet Grotesk-Bold;
    src: url(fonts/CabinetGrotesk-Variable.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Monaspace Neon;
    src: url(fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf);
    font-weight: 200;
}

@font-face {
    font-family: Monaspace Neon-Bold;
    src: url(fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf);
    font-weight: 600;
}

@font-face {
    font-family: Chomsky;
    src: url(fonts/Chomsky.otf);
}


/* MOBILE MOBILE MOBILE !!! */
/* MOBILE MOBILE MOBILE !!! */
/* MOBILE MOBILE MOBILE !!! */
:root {
    /* color styles */
    --light-color: white;
    --dark-color: black;
    --accent-color: #DAFF48;
    --gray-color: #F0EFEE;
    --post-it-color: #fdfdbf;
    --highlighter-color: #FFFF00;

    /* font styles */
    --main-font: Monaspace Neon;
    --heading-font: Cabinet Grotesk-SemiBold;
    --blockquote-font: Cabinet Grotesk-SemiBold;
    --navbar-font-size: 3.5rem;

    --special-background-character_font-family: Chomsky;
    --special-background-character_font-size: 75rem;

    /* h1 styles */
    --h1-font-size: 4rem;
    --h1-line-height: 100%;

    /* h2 styles */
    --h2-font-size: 2rem;
    --h2-line-height: 100%;

    /* h3 styles */
    --h3-font-size: 1.5rem;
    --h3-line-height: 100%;
    --h3-margin-top: 2rem;
    --h3-margin-bottom: 2rem;

    /* paragraph styles */
    --p-font-size: 1rem;
    --p-line-height: 170%;
    --p-margin-top: 2rem;
    --p-margin-bottom: 2rem;

    /* blockquote styles */
    --blockquote-font-size: 1.5rem;
    --blockquote-line-height: 140%;
    --blockquote-margin-top: 2rem;
    --blockquote-margin-bottom: 2rem;

    /* list styles */
    --ul-font-size: 1rem;
    --ul-line-height: 140%;
    --ul-margin-top: 1.5rem;
    --ul-margin-bottom: 1.5rem;

    /* other styles */
    --border-style: black 1px solid;
    --container-margin-top: 2rem;
    --container-margin-bottom: 2rem;

    --section-margin-top: 3rem;
    --section-margin-bottom: 3rem;
    --main-padding: 5%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent-color);
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    line-height: var(--h1-line-height);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--dark-color);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

h3 {
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    margin-left: 5%;
    text-transform: uppercase;
    margin-top: var(--h3-margin-top);
    margin-bottom: var(--h3-margin-bottom);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

p {
    font-family: var(--main-font);
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
    margin: auto;
    margin-top: var(--p-margin-top);
    margin-bottom: var(--p-margin-bottom);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

em {
    font-style: italic;
}

strong {
    font-family: Monaspace Neon-Bold;
}

blockquote {
    font-family: var(--blockquote-font);
    font-size: var(--blockquote-font-size);
    line-height: var(--blockquote-line-height);
    margin: auto;
    margin-top: var(--blockquote-margin-top);
    margin-bottom: var(--blockquote-margin-bottom);
    width: 90vw;
}

mark {
    background-color: var(--highlighter-color);
}

/* Semantic DOM styles */

/* navigation bar styles {starts} */
nav {
    color: var(--dark-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--navbar-font-size);

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    width: 100vw;
}

nav > ul {
    width: 25%;
}

nav > ul > li {
    border: var(--border-style);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: auto;
    width: 100%;
    height: 12vh;
    background-color: var(--light-color);
}

nav > ul > li > a {
    color: var(--dark-color);
    text-decoration: none;
    text-decoration-color: white;
    text-decoration-thickness: 0px;
}

nav > ul > li > a > span:first-of-type {
    writing-mode: horizontal-tb;
    transform: rotate(-180deg);
}

nav > ul > li > a > span:nth-of-type(2) {
    display: none;
}

nav > ul > li > a:hover {
    color: var(--dark-color);
}
/* navigation bar styles {ends} */

main {
    background-color: var(--light-color);
    color: var(--dark-color);
    
    border-top: var(--border-style);
    border-bottom: var(--border-style);
}

ul {
    margin-bottom: var(--ul-margin-bottom);
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
    text-underline-offset: .25rem;
    color: blue;
}

a:hover {
    text-decoration-color: red;
    color: red;

    transition: ease-in-out 0.3s;
}

/* class styles */

/* HOME page class styles */
.imagery_intro-landing {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100%;
    margin: 0;
}

.imagery_intro-landing > div {
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    overflow: hidden;

    background-color: var(--dark-color);    
    width: 100vw;
    height: 15vh;
    position: relative;
    z-index: 1;
}

.imagery_intro-landing > div > p {
    font-family: var(--heading-font);
    color: var(--accent-color);
    font-size: 26rem;
    margin: 0;

    position: relative;
    top: -19rem;
    z-index: -1
}

.imagery_intro-landing > div:nth-of-type(1) > p {
    left: -2rem;
}

.imagery_intro-landing > div:nth-of-type(2) > p {
    left: 5rem;
}

.imagery_intro-landing > div:nth-of-type(3) > p {
    left: -2rem;
}

.navbar_home {
    color: var(--dark-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--navbar-font-size);

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    width: 100vw;
    margin-top: -12%;
}

.navbar_home > ul { 
    width: 33.33%;
}

.navbar_home > ul > li {
    border: var(--border-style);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: last baseline;

    padding: auto;
    width: 100%;
    height: 56vh;
    background-color: var(--light-color);
}

.navbar_home > ul > li > a {
    color: var(--dark-color);
    text-decoration: none;
    text-decoration-color: white;
    text-decoration-thickness: 0px;
}

.navbar_home > ul > li > a > span:nth-of-type(1) {
    writing-mode: horizontal-tb;
    transform: rotate(-180deg);
    padding: 1.5rem;
}

.navbar_home > ul > li > a > span:nth-of-type(2) {
    display: inline;
}

.navbar_home-fixed {
    color: var(--dark-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--navbar-font-size);

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;

    width: 100vw;
}

.navbar_home-fixed > ul { 
    width: 33.33%;
}

.navbar_home-fixed > ul > li {
    border: var(--border-style);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: auto;
    width: 100%;
    height: 15vh;
    background-color: var(--light-color);
}

.navbar_home-fixed > ul > li > a {
    color: var(--dark-color);
    text-decoration: none;
    text-decoration-color: white;
    text-decoration-thickness: 0px;
}

.navbar_home-fixed > ul > li > a > span:nth-of-type(1) {
    writing-mode: horizontal-tb;
    transform: rotate(-180deg);
}

.navbar_home-fixed > ul > li > a > span:nth-of-type(2) {
    display: none;
}

.intro_colophon > header > h1 {
    margin-top: 3rem;
}

.landing-page_container {
    height: 100vh;
    width: 100%;
}

.special-background-character {
    font-family: var(--special-background-character_font-family);
    font-size: var(--special-background-character_font-size);

    position: fixed;
    top: -40rem;
    z-index: -1;
    color: transparent;
    opacity: 25%;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

.red-pen-mark {
    position: relative;
}

.red-pen-mark:before {
    content: "";
    position: absolute;
    z-index: 5;

    width: 150%;
    height: 130%;
    left: -1.5rem;
    top: -0.1rem;
    padding: 0.1rem 0.25rem;
    border: red 2px solid;

    transform: rotate(2deg);
    border-radius: 100%;
}

.red-pen-mark:after {
    content: "";
    position: absolute;
    z-index: 5;

    width: 150%;
    height: 130%;
    left: -1.5rem;
    top: -0.1rem;
    padding: 0.1rem 0.25rem;
    border: red 2px solid;

    border-left-color: transparent;
    border-top-color: transparent;
    
    transform: rotate(-1deg);
    border-radius: 100%;
}

.ul-li_normal {
    font-family: var(--main-font);
    font-size: var(--ul-font-size);
    line-height: var(--ul-line-height);
    margin: auto;
    margin-top: var(--ul-margin-top);
    margin-bottom: var(--ul-margin-bottom);
    width: 90vw;

    list-style:square;
}

.border-top {
    border-top: var(--border-style);
}

/* color styles */
.black-color {
    color: var(--dark-color);
}

.red-color {
    color: red;
}

.blue-color {
    color: blue;
}

.accent-color {
    color: var(--accent-color);
}


/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {

}

/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {
    :root {
        --h1-font-size: 7rem;
        --h1-line-height: 90%;

        --h2-font-size: 5rem;
        --h2-line-height: 90%;

        --h3-font-size: 3rem;
        --h3-line-height: 100%;
        --h3-margin-top: 3rem;
        --h3-margin-bottom: 3rem;

        --p-font-size: 1rem;
        --p-margin-top: 3rem;
        --p-margin-bottom: 3rem;
        --p-line-height: 180%;

        --ul-font-size: 1rem;
        --ul-margin-bottom: 3rem;

        --navbar-font-size: 6rem;
        --special-background-character_font-size: 75rem;

        --blockquote-font-size: 2rem;
        --blockquote-margin-top: 5rem;
        --blockquote-margin-bottom: 5rem;

        /* other styles */
        --border-style: black 1.5px solid;
        --container-margin-top: 6rem;
        --container-margin-bottom: 3rem;

        --section-margin-top: 5rem;
        --section-margin-bottom: 5rem;
    }

    p {
        margin: auto;
        margin-top: var(--p-margin-top);
        margin-bottom: var(--p-margin-bottom);
        width: 37vw;
    }

    blockquote {
        width: 47vw;
        text-align: center;
        margin: auto;
    }

    /* Semantic DOM styles */
    nav {
        position: sticky;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 75%;
        height: 100vh;
        z-index: 2;

        justify-self: end;
    }

    nav > ul > li {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        height: 100vh;

        display: flex;
        align-items: stretch;
        justify-content: last baseline;
    }

    nav > ul > li:hover {
        background-color: var(--accent-color);
        color: var(--dark-color);
        transition: ease-in-out 0.3s;
    }

    nav > ul > li > a > span:nth-of-type(2) {
        display: inline;
    }

    main {
        padding-top: 10rem;
    }

    blockquote {
        margin-top: var(--blockquote-margin-top);
        margin-bottom: var(--blockquoute-margin-bottom);
    }

    footer {
        display: flex;
        flex-direction: row;
        background-color: var(--light-color);
        color: var(--dark-color);

        font-family: var(--heading-font);
        font-size: var(--navbar-font-size);
        text-transform: uppercase;
        
        margin: 0;
    }

    footer > ul { 
        margin: 0;
    }

    footer > ul > li {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        width: 100vw;

        margin: 0;
        border: var(--border-style);
    }

    footer > ul > li:hover {
        background-color: var(--accent-color);
        transition: ease-in-out 0.3s;

        color: var(--dark-color);
    }

    footer > ul > li > a {
        text-decoration: none;
        color: var(--dark-color);
    }

    footer > ul > li > a > span:nth-of-type(1) {
        padding-left: 2rem;
    }

    footer > ul > li > a > span:nth-of-type(2) {
        display: inline;
        padding: 1rem 1.5rem;
    }

    footer > ul > li > a:hover {
        color: var(--dark-color);
    }

    /* class styles */

    /* HOME page class styles */
    .imagery_intro-landing {
        flex-direction: row;
        height: 80vh;
    }

    .imagery_intro-landing > p {
        width: 33.33vw;
        height: 100%;
        font-size: 37rem;

        border-bottom: none;
    }

    .navbar_home {
        display: flex;
        flex-direction: row;

        margin: 0;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .navbar_home > ul { 
        margin: 0;
        width: 100%;
    }

    .navbar_home > ul > li {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        height: 25%;
        margin: 0;
    }

    .navbar_home > ul > li:hover {
        background-color: var(--accent-color);
        transition: ease-in-out 0.3s;
    }

    .navbar_home > ul > li > a > span:nth-of-type(1) {
        padding-left: 2rem;
    }

    .navbar_home > ul > li > a > span:nth-of-type(2) {
        padding: 1rem 1.5rem;
    }

    .navbar_home > ul > li > a:hover {
        color: var(--dark-color);
    }

    .navbar_home-fixed {
        display: none;
    }

    /* other pages styles */
    .landing-page_container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 100vh;
        width: 100%;
    }

    .landing-page_container > header {
        margin: 5%;
        width: 100%;
    }    

    .header_author {
        font-size: 1.5rem;
        text-transform: uppercase;

        margin-left: -15%;

        position: inline-block;
        border: white 1.5px solid;
        border-radius: 10rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header_subtext {
        background: var(--post-it-color);
        color: var(--dark-color);

        padding: 3rem;
        margin-left: -5%;
        margin-right: -5%;

        width: 23rem;
        height: 23rem;

        position: relative;
        top: 10rem;
        left: 8rem;
        border: var(--border-style);
    }

    .header_subtext-top-2 {
        position: relative;
        top: 0rem;
        border: var(--border-style);
    }

    .navbar_red-pen-mark {
        position: relative;
    }
    
    .navbar_red-pen-mark:before {
        content: "";
        position: absolute;
        top: -4rem;
        z-index: 1000;
    
        width: 120%;
        height: 110%;
        left: -0.5rem;
        /* top: -0.1rem; */
        padding: 0.1rem 0.25rem;
        border: red 5px solid;
    
        transform: rotate(2deg);
        border-radius: 100%;
    }
    
    .navbar_red-pen-mark:after {
        content: "";
        position: absolute;
        z-index: 1000;
        top: -4rem;
    
        width: 120%;
        height: 110%;
        left: -0.5rem;
        /* top: -0.1rem; */
        padding: 0.1rem 0.25rem;
        border: red 5px solid;
        
        transform: rotate(-1deg);
        border-radius: 100%;
    }

    .footer_red-pen-mark {
        position: relative;
    }
    
    .footer_red-pen-mark:before {
        content: "";
        position: absolute;
        top: -0.25rem;
        z-index: 1000;
    
        width: 100%;
        height: 100%;
        left: -0.15rem;
        
        padding: 0.1rem 0.25rem;
        border: red 5px solid;
    
        transform: rotate(1deg);
        border-radius: 100%;
    }
    
    .footer_red-pen-mark:after {
        content: "";
        position: absolute;
        z-index: 1000;
        top: -0.15rem;
    
        width: 100%;
        height: 100%;
        left: -0.5rem;
       
        padding: 0.1rem 0.25rem;
        border: red 5px solid;
        
        transform: rotate(-1deg);
        border-radius: 100%;
    }

    .container_style-one {
        position: relative;
        top: 0;

        margin-top: var(--container-margin-top);

        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
    }

    .container_style-one > header {
        background: var(--gray-color);
        width: 40vw;
        padding: 3%;
        border-top: var(--border-style);
        border-bottom: var(--border-style);
        border-right: var(--border-style);
        padding: 3%;
    }

    .container_style-one > header > h2 {
        position: sticky;
        top: 10px;
    }

    .container_style-one > section {
        background-color: var(--light-color);
        width: 60vw;
        position: relative;
        border-top: var(--border-style);
        border-bottom: var(--border-style);
    }

    .container_style-two {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;

        position: relative;
    }

    .container_style-two > header {
        /* padding: 3%; --> added to the main h2*/ 
        border-bottom: var(--border-style);
        margin-bottom: var(--container-margin-bottom);
        background-color: var(--light-color);

        position: sticky;
        top: 0;
        z-index: 10;
    }

    .circle-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        margin-top: var(--section-margin-top);
        margin-bottom: var(--section-margin-bottom);

        font-family: var(--main-font);
        text-transform: uppercase;
        font-size: x-large;
    }

    .circle-container > li {
        border-radius: 100%;
        position: relative;
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* margin-right: 1rem; */

        border: var(--border-style);
        width: 300px;
        height: 300px;
        background-color: var(--dark-color);
        color: var(--light-color);
    }

    .circle-container_content-style-three {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        margin-top: var(--section-margin-top);
        margin-bottom: var(--section-margin-bottom);

        font-family: var(--main-font);
        text-transform: uppercase;
        font-size: x-large;
    }

    .circle-container_content-style-three > li {
        border-radius: 100%;
        position: relative;
    
        display: flex;
        
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 2rem;

        border: var(--border-style);
        width: 250px;
        height: 250px;
        background-color: var(--light-color);
        color: var(--dark-color);
        font-weight: 800;
    }

    .container_style-three {
        position: relative;
        top: 0;

        margin-top: var(--container-margin-top);

        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-self: flex-start;
    }

    .container_style-three > header {
        background: var(--dark-color);
        width: 40vw;
        padding: 3%;
        border-top: var(--border-style);
        border-bottom: var(--border-style);
        border-right: var(--border-style);
        border-left: var(--border-style);
        padding: 3%;

        position: relative;
        top: 0;
    }

    .container_style-three > header > h2 {
        color: var(--light-color);
        position: sticky; 
        top: 10px;
    }

    .container_style-three-navbar {
        color: var(--dark-color);
        position: sticky;
        top: 10px;
    }

    .container_style-three-navbar > h2 {
        color: var(--light-color);
    }

    .container_style-three-navbar > div > ul {
        background-color: var(--light-color);
        
        width: 40vw;
        margin-left: -9%;
        margin-right: -9%;
    }

    .container_style-three-navbar > div > ul > li {
        font-size: 2rem;
        font-family: var(--heading-font);
        text-transform: uppercase;
        margin: 0;

        border-bottom: var(--border-style);
        border-left: var(--border-style);

        padding: 1rem 2rem;
    }

    .container_style-three-navbar > div > ul > li > a {
        color: var(--dark-color);
        text-decoration: none;
        text-decoration-color: white;
        text-decoration-thickness: 0px;
    }

    .container_style-three-navbar > div > ul > li:hover {
        background-color: var(--accent-color);
        transition: ease-in-out 0.3s;
    }

    .container_style-three > section {
        background-color: var(--light-color);
        width: 60vw;
        position: relative;
        border-top: var(--border-style);
        border-bottom: var(--border-style);
    }

    .imagery_gap {
        content:"";
        word-spacing: 15rem;
        border: var(--border-style);
        background-color: var(--accent-color);
    }

    .ul-li_normal {
        width: 30vw;
        margin: auto;
        margin-bottom: var(--ul-margin-bottom);
    }

    .text-imagery_interface-writing {
        font-family: var(--heading-font);
        font-size: 7rem;
        text-transform: uppercase;
        line-height: 90%;
        text-align: center;
        color: var(--gray-color);

        margin: 0;
        margin: auto;
        width: 100vw;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--dark-color);
    }
}