body {
    background-color: var(--light-color);
    font-family: var(--main-font-family);
}

header {
    background-color: var(--accent-color);
    color: var(--light-color);
    margin-top: -5%;
    margin-left: -5%;
    margin-right: -5%;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-left: -5%;
    margin-right: -5%;

    padding: 5%;
}

p {
    font-weight: 300;
    font-size: 16px;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

blockquote {
    font-style: italic;
    margin-left: 20rem;
    margin-top: 2rem;
}

nav {
    background-color: var(--dark-color);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 1rem;
    width: 100vw;
    color: white;
}

nav > ul {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

nav > ul > li:hover {
    color: var(--accent-color);
    transition: ease-in-out 0.3s;
}


body {
    margin: 5%;
}