/* @font-face {
    font-family: Monaspace Neon;
    src: url(fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf);
}

:root {
    --main-font-family: Monaspace Neon;
    --light-color: #F0EFEE;
    --dark-color: #393939;
    /* --accent-color: #FF5F29; */
    /* --accent-color: #FF0000;
    --h1-font-size: 50px;
    --h2-font-size: 30px;
} */ 